.custom-input-box {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
    padding-bottom: 1%;
}

.custom-input-label {
    padding-left: 1%;
    padding-right: 1%;
    margin-top: 1%;
}